.main-top {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #101115;
    margin-top: 0;
    padding-bottom: 0;

    @media(max-width: 500px) {
        background-position: 80% 100%;
        background-size: calc(800px + (1000 - 800) * ((100vw - 320px) / (500 - 320)));
    }

    &__inner {
        display: flex;
        position: relative;
        height: calc(100vh - 100px);
    }

    &__offer {
        max-width: 680px;
        padding-top: 128px;

        @media(max-width: 500px) {
            padding-top: 0px;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__title {
        font-size: 64px;
        line-height: 71px;
        text-transform: uppercase;
        white-space: nowrap;
        margin-top: 100px;
        margin-bottom: 80px;

        @media(max-width: 1440px) {
            font-size: calc(38px + (64 - 38) * ((100vw - 320px) / (1490 - 320)));
        }

        @media(max-width: 500px) {
            margin-top: 39px;
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.195em;
        text-transform: uppercase;
        margin-bottom: 20px;
        white-space: nowrap;

        @media(max-width: 1440px) {
            font-size: calc(15px + (36 - 15) * ((100vw - 320px) / (1490 - 320)));
            margin-bottom: calc(50px + (130 - 50) * ((100vw - 320px) / (1490 - 320)));
        }
    }

    &__btn {
        white-space: nowrap;

        @media(max-width: 500px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 7vh;
        }

    }

    &__text {
        max-width: 314px;

        @media(max-width: 500px) {
            margin: 0 auto;
            text-align: center;
        }
    }

    &__info {
        position: relative;
        top: 0;
        right: 0;
        width: 811px;
        height: 767px;

        @media(max-width: 1080px) {
            display: none;
        }

        &-item {
            position: absolute;

        }
    }

    &__link {
        display: inline-block;
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: inset 0px -2px 2px rgba(162, 162, 162, 0.11), inset 0px 2px 4px rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(6.5px);
        margin-bottom: 50px;
    }

}

.info-item {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    box-sizing: border-box;
    color: var(--black);
    box-shadow: inset 0px -2px 2px rgba(162, 162, 162, 0.11), inset 0px 2px 4px rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 1440px) {
        width: calc(180px + (260 - 180) * ((100vw - 820px) / (1490 - 820)));
        height: calc(180px + (260 - 180) * ((100vw - 820px) / (1490 - 820)));
    }

    &__box {
        position: relative;

        &-img {
            width: 100%;
            height: 100%;
        }

        &-text {
            position: absolute;
            bottom: 20px;
            width: 290px;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            background: rgba(255, 255, 255, 0.43);
            box-shadow: inset 0px -4px 3px rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(6.5px);
            border-radius: 50px;
            padding: 18px;

            @media(max-width: 1440px) {
                padding: calc(10px + (18 - 10) * ((100vw - 1080px) / (1490 - 1080)));
                width: calc(220px + (290 - 220) * ((100vw - 1080px) / (1490 - 1080)));
            }
        }

    }
}

.info-item:nth-child(1) {
    top: 3px;
    right: 165px;

    @media(max-width: 1440px) {
        top: calc(3px + (3 - 3) * ((100vw - 1080px) / (1490 - 1080)));
        right: calc(100px + (165 - 100) * ((100vw - 1080px) / (1490 - 1080)));
    }
}

.info-item:nth-child(2) {
    top: 293px;
    right: 25px;

    @media(max-width: 1440px) {
        top: calc(194px + (293 - 194) * ((100vw - 1080px) / (1490 - 1080)));
        right: calc(14px + (25 - 14) * ((100vw - 1080px) / (1490 - 1080)));
    }
}

.info-item:nth-child(3) {
    top: 563px;
    right: 225px;

    @media(max-width: 1440px) {
        top: calc(394px + (563 - 394) * ((100vw - 1080px) / (1490 - 1080)));
        right: calc(80px + (225 - 80) * ((100vw - 1080px) / (1490 - 1080)));
    }
}

.info-item:nth-child(4) {
    top: 500px;
    right: 596px;

    @media(max-width: 1440px) {
        top: calc(320px + (500 - 320) * ((100vw - 1080px) / (1490 - 1080)));
        right: calc(300px + (596 - 300) * ((100vw - 1080px) / (1490 - 1080)));
    }
}

@media(max-width: 1440px) {}