.catalog{
    &__title{
        margin-bottom: 15px;
    }
    &__crumbs{
        margin-bottom: 80px;
    }
    &__categorys ul{
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
}


.sidebar{
    &__catalog{
        &-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 15px 20px 15px 0;
            border-bottom: 1px solid var(--grey);
            h5{
                span{
                    margin-right: 10px;
                }
            }
        }
        &-item{
            position: relative;
            padding: 10px 20px 10px 30px;
            border: 1px solid var(--grey);
            span{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
            }
        }
    }
}

.title-arrow{
    transform: rotate(-90deg);
}