.catalog{
    &__title{
        margin-bottom: 15px;
    }
    &__crumbs{
        margin-bottom: 80px;
    }
    &__categorys ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
        gap: 20px;
    }
}


.sidebar{
    &__catalog{
        &-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            padding: 15px 10px 15px 0;
            border-bottom: 1px solid var(--grey);
            h5{
                span{
                    margin-right: 10px;
                }
            }
        }
        &-item{
            position: relative;
            padding: 10px 10px 10px 10px;
            border: 1px solid var(--grey);
            span{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 12px;
            }
            legend{
                margin-bottom: 10px;
                width: 100%;
                position: relative;
                span{
                    position: absolute;
                    right: 0;
                    transform: rotate(-90deg);
                }
            }
            label{
                position: relative;
                display: block;
                padding-left: 36px;
                margin-bottom: 15px;
            }
            input{
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                position: absolute;
                width: 1px;
                height: 1px;
                opacity: 0;
            }
        }
    }
    @media(max-width: 820px){
        position: absolute;
        display: none;
    }
}

.title-arrow{
    transform: rotate(-90deg);
}