.product {
    &__wrapper {
        display: flex;
        gap: calc(15px + (67 - 15) * ((100vw - 890px) / (1490 - 890)));

        @media(max-width: 780px) {
            flex-direction: column-reverse;
        }
    }

    &__inner {
        flex: 1;
    }

    &__img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--dark-grey);
        border-radius: 6px;
        padding: 60px;
        margin-bottom: 60px;

        img {
            width: 100%;
            max-width: 300px;
            object-fit: cover;
        }
    }

    &__like {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: var(--dark-grey);
    }

    &__tabs {
        border: 1px solid var(--dark-grey);
        border-top: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &__sidebar {
        width: 290px;

        @media(max-width: 780px) {
            min-width: 100%;
        }
    }

    &__info {
        border: 1px solid var(--dark-grey);
        border-radius: 6px;
        padding: 15px;
        margin-bottom: 50px;

        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 134.5%;
            color: var(--trinidad);
            margin-bottom: 10px;
        }

        &-price {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: calc(24px + (32 - 24) * ((100vw - 800px) / (1490 - 800)));
            line-height: 39px;
            margin-bottom: 10px;
        }

        &-availability {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: var(--green);
            margin-bottom: 20px;
        }

        &-delivery {
            margin-bottom: 20px;
        }

        &-link {
            padding: 12px 24px;
            margin-bottom: 37px;
            background: rgba(0, 0, 0, 0.23);
            box-shadow: inset 0px -4px 3px rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(8px);
            border-radius: 35px;
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            align-items: center;
            text-align: center;
            color: #fff;
            position: relative;
            left: auto;
            right: auto;

            @media(max-width: 780px) {
                display: inline-block;
            }
        }

        &-current {
            display: flex;
            gap: 25px;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            color: var(--dark-grey);

            span {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.15em;
                
            }
        }

        &-input {
            width: 75px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Inter';
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.15em;
            text-align: center;
            color: var(--dark-grey);
            background: rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.69);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 2px 3px 2px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(4px);
            border-radius: 16px;
        }

        &-btn {
            width: 100%;

            @media(max-width: 780px) {
                display: inline-block;
            }
        }
    }
}

.tabs {
    &__nav {
        display: flex;
        justify-content: space-between;

        &-item {
            flex: 1;
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: 100%;
            font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (1490 - 320)));
            line-height: 134.5%;
            text-align: center;
            text-transform: uppercase;
            color: var(--dark-grey);
            background-color: #FFFDFC;
            border: 1px solid var(--dark-grey);
            border-left: none;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            transition: all 0.3s;
        }

        &-item:last-child>.tabs__nav-btn {
            border-right: none;
        }

        &-btn.tabs__nav-btn--active {
            border-bottom: none;
            background-color: #fff;
            color: var(--black);

        }
    }

    &__content {
        padding: calc(10px + (50 - 10) * ((100vw - 320px) / (1490 - 320)));
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        min-height: 400px;
    }
}


.tabs__panel {
    display: none;
}

.tabs__panel.tabs__panel--active {
    display: block;
}