.footer {
    background-color: var(--black);
    color: #fff;
    padding: 80px 0 0;
    @media(max-width: 600px){
        padding: 50px 0;
    }

    &__inner {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 30px;
        @media(max-width: 600px){
            flex-direction: column;
        }
    }

    &__content {
        &-title {
            margin-bottom: 70px;
            @media(max-width: 600px){
                margin-bottom: 30px;
            }
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 15px;
        }

        &-contact a {
            font-size: 30px;
            display: flex;
            gap: 10px;
            align-items: center;

            span {
                font-family: 'Comfortaa';
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
            }
        }
        &-contact:nth-child(2) a{
            font-size: 20px;
            span{
                margin-left: 6px;
            }
        }
    }
    &__map{
        border-radius: 16px;
        overflow: hidden;
        img{
            width: 100%;
            max-width: 50vw;
            height: 100%;
            object-fit: cover;
            @media(max-width: 600px){
                height: 100vw;
                max-width: 100%;
            }
        
        }
    }
    &__copy{
        text-align: center;
        padding: 50px 0;
    }
}